/node_modules
node_modules
/uploads
uploads
/uploads/*
/uploads/**
uploads/**
uploads/**/*
uploads/**/**/*
uploads/*
!/uploads/.gitkeep
!.gitkeep
/.env
/.env.local
/.env.development
/.env.test
/.env.production
.DS_Store
*.log
*.lock
dist
build
coverage
.next
out
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.zip
/[].zip
[].zip
{}.zip
*.zip